<div class="nk-sidebar" data-content="sidebarMenu">
    <div class="nk-sidebar-inner" data-simplebar="init">
        <div class="simplebar-wrapper" style="margin: -24px -28px -32px;">
            <div class="simplebar-height-auto-observer-wrapper">
                <div class="simplebar-height-auto-observer"></div>
            </div>
            <div class="simplebar-mask">
                <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
                    <div class="simplebar-content-wrapper" tabindex="0" role="region" aria-label="scrollable content"
                        style="height: auto; overflow: hidden scroll;">
                        <div class="simplebar-content" style="padding: 24px 28px 32px;">
                            <ul class="nk-menu nk-menu-md">
                                <li class="nk-menu-heading">
                                    <h6 class="overline-title text-primary-alt">Dashboard</h6>
                                </li>
                                <li class="nk-menu-item"><a href="index.html" class="nk-menu-link"><span
                                            class="nk-menu-icon"><em class="icon ni ni-dashboard"></em></span><span
                                            class="nk-menu-text">Dashboard</span></a>
                                </li>
                                <li class="nk-menu-item"><a href="analytics.html" class="nk-menu-link"><span
                                            class="nk-menu-icon"><em class="icon ni ni-speed"></em></span><span
                                            class="nk-menu-text">Analytics</span></a></li>
                                <li class="nk-menu-item has-sub"><a href="#" class="nk-menu-link nk-menu-toggle"><span
                                            class="nk-menu-icon"><em class="icon ni ni-files"></em></span><span
                                            class="nk-menu-text">Pages</span></a>
                                    <ul class="nk-menu-sub">
                                        <li class="nk-menu-item"><a href="page-add.html" class="nk-menu-link"><span
                                                    class="nk-menu-text">Add
                                                    Page</span></a></li>
                                        <li class="nk-menu-item"><a href="page-list.html" class="nk-menu-link"><span
                                                    class="nk-menu-text">Page List</span></a></li>
                                        <li class="nk-menu-item"><a href="page-sample.html" class="nk-menu-link"><span
                                                    class="nk-menu-text">Sample Page</span></a></li>
                                    </ul>
                                </li>
                                <li class="nk-menu-item has-sub"><a href="#" class="nk-menu-link nk-menu-toggle"><span
                                            class="nk-menu-icon"><em class="icon ni ni-template"></em></span><span
                                            class="nk-menu-text">Post</span></a>
                                    <ul class="nk-menu-sub">
                                        <li class="nk-menu-item"><a href="post-list.html" class="nk-menu-link"><span
                                                    class="nk-menu-text">All Post</span></a></li>
                                        <li class="nk-menu-item"><a href="post-add.html" class="nk-menu-link"><span
                                                    class="nk-menu-text">Add
                                                    Post</span></a></li>
                                        <li class="nk-menu-item"><a href="categories.html" class="nk-menu-link"><span
                                                    class="nk-menu-text">Categories</span></a></li>
                                    </ul>
                                </li>
                                <li class="nk-menu-item"><a href="media.html" class="nk-menu-link"><span
                                            class="nk-menu-icon"><em class="icon ni ni-img"></em></span><span
                                            class="nk-menu-text">Media</span></a></li>
                                <li class="nk-menu-item"><a href="comments.html" class="nk-menu-link"><span
                                            class="nk-menu-icon"><em class="icon ni ni-comments"></em></span><span
                                            class="nk-menu-text">Comments</span></a></li>
                                <li class="nk-menu-item"><a href="themes.html" class="nk-menu-link"><span
                                            class="nk-menu-icon"><em class="icon ni ni-color-palette"></em></span><span
                                            class="nk-menu-text">Themes</span></a>
                                </li>
                                <li class="nk-menu-item has-sub"><a href="#" class="nk-menu-link nk-menu-toggle"><span
                                            class="nk-menu-icon"><em class="icon ni ni-opt-alt"></em></span><span
                                            class="nk-menu-text">Plugins</span></a>
                                    <ul class="nk-menu-sub">
                                        <li class="nk-menu-item"><a href="plugin-add.html" class="nk-menu-link"><span
                                                    class="nk-menu-text">Add Plugins</span></a></li>
                                        <li class="nk-menu-item"><a href="plugin-installed.html"
                                                class="nk-menu-link"><span class="nk-menu-text">Installed
                                                    Plugins</span></a></li>
                                    </ul>
                                </li>
                                <li class="nk-menu-item has-sub"><a href="#" class="nk-menu-link nk-menu-toggle"><span
                                            class="nk-menu-icon"><em class="icon ni ni-user-alt"></em></span><span
                                            class="nk-menu-text">Users</span></a>
                                    <ul class="nk-menu-sub">
                                        <li class="nk-menu-item"><a href="user-list.html" class="nk-menu-link"><span
                                                    class="nk-menu-text">User List</span></a></li>
                                        <li class="nk-menu-item"><a href="user-profile.html" class="nk-menu-link"><span
                                                    class="nk-menu-text">User Profile</span></a></li>
                                    </ul>
                                </li>
                                <li class="nk-menu-item"><a href="settings-general.html" class="nk-menu-link"><span
                                            class="nk-menu-icon"><em class="icon ni ni-setting-alt"></em></span><span
                                            class="nk-menu-text">Setting</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="simplebar-placeholder" style="width: auto; height: 425px;"></div>
        </div>
        <div class="simplebar-track simplebar-horizontal" style="visibility: hidden;">
            <div class="simplebar-scrollbar simplebar-visible" style="width: 0px; display: none;"></div>
        </div>
        <div class="simplebar-track simplebar-vertical" style="visibility: visible;">
            <div class="simplebar-scrollbar simplebar-visible"
                style="height: 196px; display: block; transform: translate3d(0px, 0px, 0px);"></div>
        </div>
    </div>
</div>