<div class="nk-apps-sidebar">
    <div class="nk-apps-brand"><a href="https://dashlite.net/demo3/index.html" class="logo-link"><img
                class="logo-light logo-img" src="../images/logo-small.png" srcset="/demo3/images/logo-small2x.png 2x"
                alt="logo"><img class="logo-dark logo-img" src="../images/logo-dark-small.png"
                srcset="/demo3/images/logo-dark-small2x.png 2x" alt="logo-dark"></a></div>
    <div class="nk-sidebar-element">
        <div class="nk-sidebar-body">
            <div class="nk-sidebar-content" data-simplebar="init">
                <div class="simplebar-wrapper" style="margin: 0px;">
                    <div class="simplebar-height-auto-observer-wrapper">
                        <div class="simplebar-height-auto-observer"></div>
                    </div>
                    <div class="simplebar-mask">
                        <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
                            <div class="simplebar-content-wrapper" tabindex="0" role="region"
                                aria-label="scrollable content" style="height: 100%; overflow: hidden scroll;">
                                <div class="simplebar-content" style="padding: 0px;">
                                    <div class="nk-sidebar-menu">
                                        <ul class="nk-menu apps-menu">
                                            <li routerLinkActive="active" class="nk-menu-item"><a routerLink="/Home" class="nk-menu-link"
                                                    aria-label="CMS Panel" data-bs-original-title="CMS Panel"><span
                                                        class="nk-menu-icon"><em
                                                            class="icon ni ni-template"></em></span></a></li>
                                            <li class="nk-menu-hr"></li>
                                            <li class="nk-menu-item"><a href="https://dashlite.net/demo3/index.html"
                                                    class="nk-menu-link" aria-label="Analytics Dashboard"
                                                    data-bs-original-title="Analytics Dashboard"><span
                                                        class="nk-menu-icon"><em
                                                            class="icon ni ni-dashboard"></em></span></a></li>
                                            <li routerLinkActive="active" class="nk-menu-item"><a routerLink="/pcb" class="nk-menu-link"
                                                    aria-label="PCB" data-bs-original-title="PCB"><span
                                                        class="nk-menu-icon"><em
                                                            class="icon ni ni-speed"></em></span></a></li>
                                            <li class="nk-menu-item"><a
                                                    href="https://dashlite.net/demo3/index-crypto.html"
                                                    class="nk-menu-link" aria-label="Crypto Dashboard"
                                                    data-bs-original-title="Crypto Dashboard"><span
                                                        class="nk-menu-icon"><em
                                                            class="icon ni ni-bitcoin-cash"></em></span></a></li>
                                            <li class="nk-menu-item"><a
                                                    href="https://dashlite.net/demo3/index-invest.html"
                                                    class="nk-menu-link" aria-label="Invest Dashboard"
                                                    data-bs-original-title="Invest Dashboard"><span
                                                        class="nk-menu-icon"><em
                                                            class="icon ni ni-invest"></em></span></a></li>
                                            <li class="nk-menu-hr"></li>
                                            <li class="nk-menu-item"><a
                                                    href="https://dashlite.net/demo3/apps/mailbox.html"
                                                    class="nk-menu-link" aria-label="Mailbox"
                                                    data-bs-original-title="Mailbox"><span class="nk-menu-icon"><em
                                                            class="icon ni ni-inbox"></em></span></a></li>
                                            <li class="nk-menu-item"><a
                                                    href="https://dashlite.net/demo3/apps/messages.html"
                                                    class="nk-menu-link" aria-label="Messages"
                                                    data-bs-original-title="Messages"><span class="nk-menu-icon"><em
                                                            class="icon ni ni-chat"></em></span></a></li>
                                            <li class="nk-menu-item"><a
                                                    href="https://dashlite.net/demo3/apps/file-manager.html"
                                                    class="nk-menu-link" aria-label="File Manager"
                                                    data-bs-original-title="File Manager"><span class="nk-menu-icon"><em
                                                            class="icon ni ni-folder"></em></span></a></li>
                                            <li class="nk-menu-item"><a
                                                    href="https://dashlite.net/demo3/apps/chats.html"
                                                    class="nk-menu-link" aria-label="Chats"
                                                    data-bs-original-title="Chats"><span class="nk-menu-icon"><em
                                                            class="icon ni ni-chat-circle"></em></span></a></li>
                                            <li class="nk-menu-item"><a
                                                    href="https://dashlite.net/demo3/apps/calendar.html"
                                                    class="nk-menu-link" aria-label="Calendar"
                                                    data-bs-original-title="Calendar"><span class="nk-menu-icon"><em
                                                            class="icon ni ni-calendar"></em></span></a></li>
                                            <li class="nk-menu-item"><a
                                                    href="https://dashlite.net/demo3/apps/kanban.html"
                                                    class="nk-menu-link"><span class="nk-menu-icon"><em
                                                            class="icon ni ni-template"></em></span></a></li>
                                            <li class="nk-menu-hr"></li>
                                            <li class="nk-menu-item"><a
                                                    href="https://dashlite.net/demo3/components.html"
                                                    class="nk-menu-link" aria-label="Go to Components"
                                                    data-bs-original-title="Go to Components"><span
                                                        class="nk-menu-icon"><em
                                                            class="icon ni ni-layers"></em></span></a></li>
                                        </ul>
                                    </div>
                                    <div class="nk-sidebar-footer">
                                        <ul class="nk-menu nk-menu-md">
                                            <li class="nk-menu-item"><a href="#" class="nk-menu-link"
                                                    aria-label="Settings" data-bs-original-title="Settings"><span
                                                        class="nk-menu-icon"><em
                                                            class="icon ni ni-setting"></em></span></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="simplebar-placeholder" style="width: auto; height: 853px;"></div>
                </div>
                <div class="simplebar-track simplebar-horizontal" style="visibility: hidden;">
                    <div class="simplebar-scrollbar" style="width: 0px; display: none;"></div>
                </div>
                <div class="simplebar-track simplebar-vertical" style="visibility: visible;">
                    <div class="simplebar-scrollbar"
                        style="height: 46px; transform: translate3d(0px, 0px, 0px); display: block;"></div>
                </div>
            </div>
            <div class="nk-sidebar-profile nk-sidebar-profile-fixed dropdown"><a href="#" class="toggle"
                    data-target="profileDD">
                    <div class="user-avatar"><span>AB</span></div>
                </a>
                <div class="dropdown-menu dropdown-menu-md m-1 nk-sidebar-profile-dropdown" data-content="profileDD">
                    <div class="dropdown-inner user-card-wrap d-none d-md-block">
                        <div class="user-card">
                            <div class="user-avatar"><span>AB</span></div>
                            <div class="user-info"><span class="lead-text">Abu Bin Ishtiyak</span><span
                                    class="sub-text text-soft">info@softnio.com</span></div>
                        </div>
                    </div>
                    <div class="dropdown-inner">
                        <ul class="link-list">
                            <li><a href="https://dashlite.net/demo3/user-profile-regular.html"><em
                                        class="icon ni ni-user-alt"></em><span>View Profile</span></a></li>
                            <li><a href="https://dashlite.net/demo3/user-profile-setting.html"><em
                                        class="icon ni ni-setting-alt"></em><span>Account Setting</span></a>
                            </li>
                            <li><a href="https://dashlite.net/demo3/user-profile-activity.html"><em
                                        class="icon ni ni-activity-alt"></em><span>Login Activity</span></a>
                            </li>
                        </ul>
                    </div>
                    <div class="dropdown-inner">
                        <ul class="link-list">
                            <li><a href="#"><em class="icon ni ni-signout"></em><span>Sign out</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>