<div class="nk-content ">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="nk-block">
                    <div class="row g-gs">
                        <div class="col-12">
                            <div class="card card-bordered">
                                <div class="card-inner">
                                    <div class="card-title mb-4">
                                        <h3 class="title">Generate New PCB</h3>
                                    </div>
                                    <form action="#">
                                        <div class="row g-gs">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <div class="form-control-wrap">
                                                        <label class="form-label">FM</label>
                                                        <input type="text" name="data" id="data" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <div class="form-control-wrap">
                                                        <label class="form-label">KIAB</label>
                                                        <input type="text" name="data" id="data" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <div class="form-control-wrap">
                                                        <label class="form-label">KMAB</label>
                                                        <input type="text" name="data" id="data" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <div class="form-control-wrap">
                                                        <label class="form-label">Bolts</label>
                                                        <ul class="custom-control-group g-3 align-center flex-wrap">
                                                            <li>
                                                                <div class="custom-control custom-radio">
                                                                    <input type="radio" class="custom-control-input"
                                                                        checked name="boltsYesNo-public"
                                                                        id="bolts-enable"><label
                                                                        class="custom-control-label"
                                                                        for="bolts-enable">Yes</label>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="custom-control custom-radio">
                                                                    <input type="radio" class="custom-control-input"
                                                                        name="boltsYesNo-public"
                                                                        id="bolts-disable"><label
                                                                        class="custom-control-label"
                                                                        for="bolts-disable">No</label>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <div class="form-control-wrap">
                                                        <label class="form-label">Antenna</label>
                                                        <ul class="custom-control-group g-3 align-center flex-wrap">
                                                            <li>
                                                                <div class="custom-control custom-radio">
                                                                    <input type="radio" class="custom-control-input"
                                                                        checked name="antennaYesNo-public"
                                                                        id="antenna-enable"><label
                                                                        class="custom-control-label"
                                                                        for="antenna-enable">Yes</label>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="custom-control custom-radio">
                                                                    <input type="radio" class="custom-control-input"
                                                                        name="antennaYesNo-public"
                                                                        id="antenna-disable"><label
                                                                        class="custom-control-label"
                                                                        for="antenna-disable">No</label>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <div class="form-control-wrap">
                                                        <label class="form-label">Switches</label>
                                                        <ul class="custom-control-group g-3 align-center">
                                                            <li>
                                                                <div
                                                                    class="custom-control custom-control-sm custom-checkbox">
                                                                    <input type="checkbox" class="custom-control-input"
                                                                        id="switch_One"><label
                                                                        class="custom-control-label"
                                                                        for="switch_One">SW1</label></div>
                                                            </li>
                                                            <li>
                                                                <div
                                                                    class="custom-control custom-control-sm custom-checkbox">
                                                                    <input type="checkbox" class="custom-control-input"
                                                                        id="switch_Two"><label
                                                                        class="custom-control-label"
                                                                        for="switch_Two">SW2</label></div>
                                                            </li>
                                                            <li>
                                                                <div
                                                                    class="custom-control custom-control-sm custom-checkbox">
                                                                    <input type="checkbox" class="custom-control-input"
                                                                        id="switch_Three"><label
                                                                        class="custom-control-label"
                                                                        for="switch_Three">SW3</label></div>
                                                            </li>
                                                            <li>
                                                                <div
                                                                    class="custom-control custom-control-sm custom-checkbox">
                                                                    <input type="checkbox" class="custom-control-input"
                                                                        id="switch_four"><label
                                                                        class="custom-control-label"
                                                                        for="switch_four">SW4</label></div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <div class="form-control-label">
                                                        <label class="form-label">Connector</label>
                                                        <ul class="custom-control-group g-3 align-center">
                                                            <li>
                                                                <div
                                                                    class="custom-control custom-control-sm custom-checkbox">
                                                                    <input type="checkbox" class="custom-control-input"
                                                                        id="connector-j0"><label
                                                                        class="custom-control-label"
                                                                        for="connector-j0">J0</label></div>
                                                            </li>
                                                            <li>
                                                                <div
                                                                    class="custom-control custom-control-sm custom-checkbox">
                                                                    <input type="checkbox" class="custom-control-input"
                                                                        id="connector-ch0"><label
                                                                        class="custom-control-label"
                                                                        for="connector-ch0">CH0</label></div>
                                                            </li>
                                                            <li>
                                                                <div
                                                                    class="custom-control custom-control-sm custom-checkbox">
                                                                    <input type="checkbox" class="custom-control-input"
                                                                        id="connector-ch1"><label
                                                                        class="custom-control-label"
                                                                        for="connector-ch1">CH1</label></div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <div class="form-control-wrap">
                                                        <label class="form-label">Visual Check</label>
                                                        <ul class="custom-control-group g-3 align-center flex-wrap">
                                                            <li>
                                                                <div class="custom-control custom-radio">
                                                                    <input type="radio" class="custom-control-input"
                                                                        checked name="visualYesNo-public"
                                                                        id="visual-enable"><label
                                                                        class="custom-control-label"
                                                                        for="visual-enable">Yes</label>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="custom-control custom-radio">
                                                                    <input type="radio" class="custom-control-input"
                                                                        name="visualYesNo-public"
                                                                        id="visual-disable"><label
                                                                        class="custom-control-label"
                                                                        for="visual-disable">No</label>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <div class="form-control-wrap">
                                                        <label class="form-label">Data Points</label>
                                                        <select class="form-select">
                                                            <option selected>Open this select menu</option>
                                                            <option value="12AM">12AM</option>
                                                            <option value="08AM">08AM</option>
                                                            <option value="04AM">04AM</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>